# Copyright {{ year }} Karlsruhe Institute of Technology
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
import subprocess
import sys

from xmlhelpy import argument
from xmlhelpy import option

from .main import {{ group }}


@{{ group }}.command()
{% for arg in args_dict[0:-2] -%}
@option({% if arg["keyword"] %}"{{ arg["keyword"] }}", {% endif %}{% if arg["char"] %}char="{{ arg["char"] }}", {% endif %}description="{{ arg["description"] }}")
{% endfor -%}
def {{ command }}({{ args }}):
    """{{ description }}"""
    cmd = ["{{ command }}"]
    {%- if args_dict %}

    {% for arg in args_dict %}
    {%- if arg["char"] and arg["keyword"] -%}
    if {{ arg["keyword"][2:].replace("-", "_") }}:
        cmd.append("{{ arg["char"] }}")
    {%- elif arg["keyword"] -%}
    if {{ arg["keyword"][2:].replace("-", "_") }}:
        cmd.append("{{ arg["keyword"] }}")
    {%- else -%}
    if {{ arg["char"][1] }}:
        cmd.append("{{ arg["char"] }}")
    {%- endif %}
    {% endfor %}

    {%- endif %}
    sys.exit(subprocess.run(cmd).returncode)
